{% extends 'base.html' %}

{% block content %}










<div class="col-md-8 address_form">
  <h4>Billing Address</h4>

  <form class="text-center border border-light p-5" action="{%url 'success' %}" method="POST">
    {% csrf_token %}

    <p class="h3 mb-3"><i class="fas fa-coffee"></i>Place_order</p>

    <script src="https://checkout.razorpay.com/v1/checkout.js" 
    data-key="rzp_test_lqsW2gWKFbM27g" 
    data-amount="{{ billing }}"
    data-currency="INR" 
    data-order_id="{{my_order.order_id}}" 
    data-buttontext="Pay with Razorpay"
    data-name="Professional Cipher"
    data-description="Django and Data Science"
    data-image="https://example.com/your_logo.jpg" 
    data-prefill.name="PC"
    data-prefill.email="pc@studygyaan.com" 
    data-theme.color="#F37254"></script>

</form>
</div>









{% endblock content %}
